/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*-------  Fin de Stripe  ----------*/


.titre-page {
  text-align: center;
}

/*----------  Pizza  ----------*/

.pizzas-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------  Fin de Pizza  ----------*/


/*----------  Commande  ----------*/

.panier-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.commande-titre {
    text-align: center;
}

.commande-wrapper {
    margin: 0 auto;
    width: 22rem;
    border: 1px solid #333;
    border-radius: 10px;
}

.card-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.livraison-fond-rouge {
    background-color: #dc3545;
    color: white;
}

.livraison-fond-vert {
    background-color: #28a745;
    color: white;
}

.passer-commande {
    text-align: center;
}

.passer-commande form {
    margin: 0;
}

.passer-commande .btn-light {
    width: 100%;
    border-radius: 9px;
}

/*-----Fin de Commande  ----------*/


/*----------  Boutons  ----------*/

.primary-btn {
    color: blue;
  }
  
  /*-------  Fin de Boutons  ----------*/


/*----------  Composer  ----------*/

.composer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredients-category-container {
  margin-top: 1rem;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  padding: 0 3.2rem;
}

.ingredients-category-container h4 {
  margin: 0.5rem auto 0;
  text-align: center;
  padding: 1.6rem 0;
  background-color: #28a745;
  border-radius: 10px 10px 0 0;
}

.ingredients-category-container-commande {
  margin-top: 1rem;
  width: 22rem;
  min-width: 300px;
  max-width: 600px;
}

.ingredients-category-container-commande h4 {
  margin: 0.5rem auto 0;
  text-align: center;
  padding: 1.6rem 0;
  background-color: #28a745;
  border-radius: 10px 10px 0 0;
}

.item-selected, .total-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.list-sous-group {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.1s, visibility 1s, opacity 1s;
}

.list-sous-group li {
  background-color: #a1eea7;
}

.list-sous-group:hover > li {
  background-color: #ccf7cf;
}

.category-button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.category-button:hover > .list-sous-group {
  cursor: pointer;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.category-button:hover > li {
  cursor: pointer;
  background-color: #ccf7cf;
}

.card>.list-group:first-child .list-group-item-ingredient:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card>.list-group:last-child .list-group-item-ingredient:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-header+.list-group .list-group-item-ingredient:first-child {
    border-top: 0
}

.composer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-group-item-ingredient-action {
    width: 100%;
    color: #495057;
    text-align: inherit
}

.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-action:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa
}

.list-group-item-ingredient-action:active {
    color: #212529;
    background-color: #e9ecef
}

.list-group-item-ingredient {
    position: relative;
    display: block;
    padding: 0 0.1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

.list-group-item-ingredient:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.list-group-item-ingredient:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.list-group-item-ingredient:focus,
.list-group-item-ingredient:hover {
    z-index: 1;
    text-decoration: none
}

.list-group-item-ingredient.disabled,
.list-group-item-ingredient:disabled {
    color: #6c757d;
    background-color: #fff
}

.list-group-item-ingredient.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.list-group-flush .list-group-item-ingredient {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.list-group-flush:first-child .list-group-item-ingredient:first-child {
    border-top: 0
}

.list-group-flush:last-child .list-group-item-ingredient:last-child {
    border-bottom: 0
}

.list-group-item-ingredient-primary {
    color: #004085;
    background-color: #b8daff
}

.list-group-item-ingredient-primary.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-primary.list-group-item-ingredient-action:hover {
    color: #004085;
    background-color: #9fcdff
}

.list-group-item-ingredient-primary.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #004085;
    border-color: #004085
}

.list-group-item-ingredient-secondary {
    color: #383d41;
    background-color: #d6d8db
}

.list-group-item-ingredient-secondary.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-secondary.list-group-item-ingredient-action:hover {
    color: #383d41;
    background-color: #c8cbcf
}

.list-group-item-ingredient-secondary.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #383d41;
    border-color: #383d41
}

.list-group-item-ingredient-success {
    color: #155724;
    background-color: #c3e6cb
}

.list-group-item-ingredient-success.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-success.list-group-item-ingredient-action:hover {
    color: #155724;
    background-color: #b1dfbb
}

.list-group-item-ingredient-success.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #155724;
    border-color: #155724
}

.list-group-item-ingredient-info {
    color: #0c5460;
    background-color: #bee5eb
}

.list-group-item-ingredient-info.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-info.list-group-item-ingredient-action:hover {
    color: #0c5460;
    background-color: #abdde5
}

.list-group-item-ingredient-info.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #0c5460;
    border-color: #0c5460
}

.list-group-item-ingredient-warning {
    color: #856404;
    background-color: #ffeeba
}

.list-group-item-ingredient-warning.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-warning.list-group-item-ingredient-action:hover {
    color: #856404;
    background-color: #ffe8a1
}

.list-group-item-ingredient-warning.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #856404;
    border-color: #856404
}

.list-group-item-ingredient-danger {
    color: #721c24;
    background-color: #f5c6cb
}

.list-group-item-ingredient-danger.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-danger.list-group-item-ingredient-action:hover {
    color: #721c24;
    background-color: #f1b0b7
}

.list-group-item-ingredient-danger.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #721c24;
    border-color: #721c24
}

.list-group-item-ingredient-light {
    color: #818182;
    background-color: #fdfdfe
}

.list-group-item-ingredient-light.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-light.list-group-item-ingredient-action:hover {
    color: #818182;
    background-color: #ececf6
}

.list-group-item-ingredient-light.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182
}

.list-group-item-ingredient-dark {
    color: #1b1e21;
    background-color: #c6c8ca
}

.list-group-item-ingredient-dark.list-group-item-ingredient-action:focus,
.list-group-item-ingredient-dark.list-group-item-ingredient-action:hover {
    color: #1b1e21;
    background-color: #b9bbbe
}

.list-group-item-ingredient-dark.list-group-item-ingredient-action.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21
}

.supprimer {
    margin-left: 10px;
    padding: 0 10px;
    color: white;
    border-radius: 5px;
    background-color: rgb(207, 37, 37);
}

.supprimer:hover {
    cursor: pointer;
    background-color: red;
}
  
.total-a-payer {
    background-color: #28a745;
    color: white;
    border-radius: 0 0 9px 9px;
}

.panier-ajouter {
    text-align: center;
}

.panier-ajouter .btn-success {
    width: 100%;
}

  /*-------  Fin de Composer  ----------*/